<div>
  <div class="header">
    <img class="login-logo" src="./img/logo.png">
    
    <h1>kwiki-<span style="color: #00BBEE;">web</span></h1>
    <h2>People, inside your browser</h2>
    
  </div>
<form class="auth">
  <input ng-model='user.username' type='text' placeholder='username'>
  <input ng-model='user.password' type='password' placeholder='password'>
  <!-- TODO: since username/password are modeled on scope, we don't have to pass them here -->
  <button class="signup" ng-click='signUp(user)'>Submit</button>
  <div class="link"><a href="/#/login">Already have an account? Log In</a></div>
  <div class="spinner"></div>
  <div class="error" ng-show="error"> {{error}}</div>
</form>

</div>

<!-- TODO: ui-router refactor -->
