<div>
  <div id="map"></div>
  <div class="spinner"></div>
  <div class="input-container">
    <input id="place-input" type="text" placeholder="Enter a location">
  </div>
  <ul class="button-container">
    <button ng-click='submit()'>Find me a kwiki!</button>
    <button ng-click='lucky()'>I'm feeling lucky!</button>
  <button ng-click='directions()'>Get directions</button>
  </ul>
  <div id="directions"></div>
  <div class="search-match">Search for a match within {{radius}} miles</div>
  <input type="range" step=".5" min=".5" max="10" value="5" ng-init="radius = 5" ng-model="radius">
</div>
