<div id="chat" ng-controller="ChatController" ng-init="loadChat()">
  <div class="roomname">Current room: {{roomname}}<div>
  <div class="username">Current user: {{user}}</div>
  <div class="messages" ng-repeat="data in chatMessages">
    <span class="date">{{data.humanTime}}</span>
    <span class="user">{{data.user}}</span>
    <span class="message">says: {{data.text}} </span>
  </div>
  <form ng-submit="sendMessage()">
    <input ng-model="messageInput" type="message" placeholder="Type a message">
    <button type="submit" id="Submit">Send message</button>
  </form>
</div>

