<div id="chat" ng-controller="ChatController" ng-init="loadChat()">
  <ul class="room-info">
    <li><div class="username">{{user}} is seeking a rapport {{roomname}}</div></li>
  </ul>
  <div class="messages-container" scroll-glue>
    <div class="chat" ng-repeat="data in chatMessages">
      <span class="date">{{data.humanTime}}</span>
      <span class="user">{{data.user}}</span>
      <span class="message">says: {{data.text}} </span>
    </div>
  </div>
  <form ng-submit="sendMessage()">
    <input ng-model="messageInput" type="message" maxlength="140" placeholder="Type a message">
    <button type="submit" id="Submit">Send message</button>
  </form>
</div>
